<app-header></app-header>
<div class="container mt-3">

    <h3>Dashboard</h3>

    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link" routerLink="article" routerLinkActive="active" aria-current="page">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="category" routerLinkActive="active">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user" routerLinkActive="active">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="order" routerLinkActive="active">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Autres</a>
        </li>
    </ul>

</div>