<div class="container-md">
    <div class="card mb-3 mt-2" style="width: 18rem;" [routerLink]="['/article', article.id]">
        <img src="https://picsum.photos/500/500" class="card-img-top" alt="Picsum Image">
        <div class="card-body">
            <h5 class="card-title">{{ article.brand }}</h5>
            <p class="card-text text-secondary">{{ article.title.length > 28 ? article.title.substring(0, 28) + '...' : article.title }}</p>
            <p>{{ article.price | currency: 'EUR':'symbol':'1.2-2':'fr' }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <button (click)="addToCart()" class="btn btn-primary" id="btn-panier">Ajouter au panier</button>
                <!-- <a href="#" class="btn btn-primary" id="btn-panier">Ajouter au panier</a> -->
                <!-- <i class="bi bi-heart fa-2xl" id="heart"></i> -->
            </div>
        </div>
    </div>
</div>
