<app-header></app-header>

<div class="container">

    <form [formGroup]="formProduct" (ngSubmit)="submitForm()" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Titre</label>
            <input type="text" class="form-control" [ngClass]="{
                'has-danger': title.invalid && (title.dirty || title.touched),
                'has-success': title.invalid && (title.dirty || title.touched),
            }" id="title" placeholder="Titre de l'article" formControlName="title">
            <p *ngIf="title.errors?.['required']">Champs obligatoire !</p>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" [ngClass]="{
                'has-danger': description.invalid && (description.dirty || description.touched),
                'has-success': description.invalid && (description.dirty || description.touched),
            }" id="description" rows="3" placeholder="Description de l'article"
                formControlName="description"></textarea>
            <p *ngIf="description.errors?.['required']">Champs obligatoire !</p>

        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Marque</label>
            <input type="text" class="form-control" [ngClass]="{
                'has-danger': brand.invalid && (brand.dirty || brand.touched),
                'has-success': brand.invalid && (brand.dirty || brand.touched),
            }" id="brand" placeholder="Marque de l'article" formControlName="brand">
            <p *ngIf="brand.errors?.['required']">Champs obligatoire !</p>

        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Prix</label>
            <input type="text" class="form-control" [ngClass]="{
                'has-danger': price.invalid && (price.dirty || price.touched),
                'has-success': price.invalid && (price.dirty || price.touched),
            }" id="price" placeholder="Prix de l'article" formControlName="price">
            <p *ngIf="price.errors?.['required']">Champs obligatoire !</p>

        </div>
        <button type="submit" class="btn btn-primary">Valider</button>

    </form>





</div>