<app-header />

<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/images/slide1200.png"
        class="d-block w-100"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/images/slide1200.png"
        class="d-block w-100"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/images/slide1200.png"
        class="d-block w-100"
        alt="First slide"
      />
    </div>
  </div>
</div>

<h2 class="text-center my-5 h4">Nos dernières nouveautés</h2>

<div class="d-flex flex-wrap justify-content-center"></div>

<div class="container">
  <div class="text-center px-md-5">
    <img
      class="card-img-top rounded img-fluid"
      src="/assets/images/abcdef.png"
      alt="Card image cap"
    />
  </div>
</div>

<div class="container">
  <div class="row text-center mt-5 mb-5">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p><i class="fa-solid fa-truck fa-3x card-icon"></i></p>
          <h5 class="card-title">Livraison</h5>
          <p class="card-text text-secondary">
            Livraisons assurées par transporteurs spécialisés.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p><i class="fa-solid fa-shield-halved fa-3x card-icon"></i></p>
          <h5 class="card-title">Sécurité</h5>
          <p class="card-text text-secondary">
            Payez en toute sécurité par carte bancaire ou en 3 fois sans frais.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p><i class="fa-solid fa-arrow-rotate-left fa-3x card-icon"></i></p>
          <h5 class="card-title">Retour</h5>
          <p class="card-text text-secondary">
            Retours gratuits sous 15 jours pour toute modification d'avis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
