#btn-reset-password {
    background-color: #6130f2;
    border-color: #6130f2;
}

#slogan {
    /* color: #8A2BE2; */
    color: #666666;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    }

    h4 {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
    }