<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-center" id="logo">
      <a [routerLink]="['/']">
        <img src="assets/images/wineko6.png" alt="Wineko Logo" class="img-fluid" style="max-width: 357px; height: auto;">
      </a>
    </h1>
    <h5 class="text-center mt-4" id="slogan">Shoppez éko-friendly.</h5> <!-- Ajout de mt-4 pour ajouter de l'espace -->
  
    <h4 class="text-center mb-4 mt-3">Mot de passe oublié ?</h4>
  
    <div class="container">
      <form [formGroup]="formForgotPassword" (ngSubmit)="submitForgotPasswordForm()" novalidate>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="mb-3">
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Adresse e-mail">
              <div *ngIf="formForgotPassword.controls['email'].invalid && (formForgotPassword.controls['email'].dirty || formForgotPassword.controls['email'].touched)" class="text-danger">
                <div *ngIf="formForgotPassword.controls['email'].errors?.['required']">L'adresse e-mail est requise.</div>
                <div *ngIf="formForgotPassword.controls['email'].errors?.['email']">L'adresse e-mail n'est pas valide.</div>
              </div>
            </div>
  
            <button type="submit" class="btn btn-primary w-100" id="btn-reset-password">Envoyer</button>
            <div class="mt-3 text-center">
              <a routerLink="/login">Retour à la connexion</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  