<app-header></app-header>


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded" src="https://picsum.photos/1000/1000" alt="..." /></div>
            <div class="col-md-6">
                <h4 class="card-title">Apple</h4>
                <div class="fs-5 mb-5">
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <span class="card-price">45.00€</span><br><br>

                <div class="d-flex">

                                        <a href="#" class="btn btn-primary" id="btn-panier">Ajouter au panier</a>

                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>