<app-header></app-header>

<h4 class="text-center mb-5 mt-5">Se connecter</h4>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Adresse e-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div id="emailHelp" class="form-text">Mot de passe oublié ?</div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-connect">Se connecter</button>
            </form>
            <div class="mb-3">
                <p id="emailHelp" class="form-text">Vous n'avez pas encore de compte ? S'inscrire ici</p>
            </div>
        </div>
    </div>
</div>
