<!-- <app-header></app-header> -->

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="text-center" id="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/wineko6.png" alt="Wineko Logo" class="img-fluid" style="max-width: 357px; height: auto;">
    </a>
  </h1>
  <h5 class="text-center mt-4" id="slogan">Shoppez éko-friendly.</h5> <!-- Ajout de mt-4 pour ajouter de l'espace -->

  <h4 class="text-center mb-4 mt-3">Connexion</h4>

  <div class="container">
    <form [formGroup]="formLogin" (ngSubmit)="submitLoginForm()" novalidate>
      <div class="row justify-content-center">
        <div class="col-md-4">
          
          <div class="mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Adresse e-mail">
            <div *ngIf="formLogin.controls['email'].invalid && (formLogin.controls['email'].dirty || formLogin.controls['email'].touched)" class="text-danger">
              <div *ngIf="formLogin.controls['email'].errors?.['required']">L'adresse e-mail est requise.</div>
              <div *ngIf="formLogin.controls['email'].errors?.['email']">L'adresse e-mail n'est pas valide.</div>
            </div>
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Mot de passe">
            <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="text-danger">
              <div *ngIf="formLogin.controls['password'].errors?.['required']">Le mot de passe est requis.</div>
            </div>
            <div id="passwordHelp" class="form-text">
              Mot de passe oublié ? <a routerLink="/forgotten-password">Cliquez ici</a>
            </div>          </div>

          <button type="submit" class="btn btn-primary w-100" id="btn-connect">Se connecter</button>
          <div class="mb-3">
            <p id="emailHelp" class="form-text">Vous n'avez pas encore de compte ? <a routerLink="/register">S'inscrire ici</a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <app-footer></app-footer> -->
