<app-header></app-header>

<h4 class="text-center mb-5 mt-5">Contactez-nous</h4>


<div class="container-md">
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom">
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput2" class="form-label"></label>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Prénom">
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput3" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Email@wineko.fr">
    </div>
    <div class="mb-5">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message"></textarea>
    </div>
    <a href="#" class="btn btn-primary" id="btn-panier">Envoyer</a>

</div>

<app-footer></app-footer>