/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.has-danger input, .has-danger select {
    border: 1px solid red;
}

.has-success input, .has-success select {
    border: 1px solid green;
}

.form-control-feedback {
    color: red;
    font-size: 12px;
}