#btn-payment {
    background-color: #6130f2 !important;
    border-color: #6130f2 !important;
}

#btn-back {
    background-color: #6130f2 !important;
    border-color: #6130f2 !important;
}

.progress-bar{
    background-color: #6130f2 !important;
    color: #6130f2;
}