<div class="container-md">

    <div class="card mb-3 mt-2" style="width: 18rem;">
        <img src="https://picsum.photos/500/500" class="card-img-top" alt="Picsum Image">
        <div class="card-body">
            <h5 class="card-title">Marque</h5>
            <p class="card-text text-secondary">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
            <p class="card-text">99,99€</p>
            <a href="#" class="btn btn-primary" id="btn-panier">Ajouter au panier</a>
        </div>
    </div>

</div>