.card {
    border: none; /* Supprime le contour */
    box-shadow: none; /* Supprime l'ombre */
}

.card-icon {
    color: #6130f2; /* Couleur violette */
}

.bloc-footer {
    background-color: #6130f2;
    
}

#btn-newsletter {
    background-color: #47faa9;
    border-color: #47faa9;
    color: #6130f2;
}