<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p> <i class="fa-solid fa-truck fa-3x card-icon"></i> </p>
                    <h5 class="card-title">Livraison</h5>
                    <p class="card-text text-secondary">Livraisons assurées par transporteurs spécialisés.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p> <i class="fa-solid fa-shield-halved fa-3x card-icon"></i> </p>
                    <h5 class="card-title">Sécurité</h5>
                    <p class="card-text text-secondary">Payez en toute sécurité par carte bancaire ou en 3 fois sans frais.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p> <i class="fa-solid fa-arrow-rotate-left fa-3x card-icon"></i> </p>
                    <h5 class="card-title">Retour</h5>
                    <p class="card-text text-secondary">Retours gratuits sous 15 jours pour toute modification d'avis.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bloc-footer">
    <div class="container">
        <div class="row">
            <div class="col py-4 text-light">
                <div class="container px-md-5"> <!-- Ajout de px-md-5 pour une marge horizontale uniforme sur les tailles d'écrans MD et supérieures -->
                    <footer class="py-5">
                        <div class="row">
                            <div class="col-6 col-md-2 mb-3">
                                <h5>Winéko</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2"><a routerLink="/why-choose-us" class="nav-link p-0 text-white-50">Pourquoi nous choisir ?</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Mentions légales</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">CGV</a></li>
                                    <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-white-50">Une question ?</a></li>
                                    <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-white-50">Service client</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-2 mb-3">
                                <h5></h5> <!-- Espace réservé pour le titre mais laissé vide -->
                                <ul class="nav flex-column" style="padding-top: 1.5rem;"> <!-- Ajuster la valeur de padding-top selon vos besoins -->
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">FAQ</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Protection des données</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Politique de cookies</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Plan du site</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Newsletter</a></li>
                                </ul>
                            </div>
                            <!-- Ajoutez ici d'autres colonnes ou modifiez le contenu existant -->
                        </div>

                        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top" id="line">
                            <p>Winéko 2024 | Made with 🤍</p>
                            <ul class="list-unstyled d-flex">
                                <li class="ms-3"><a class="link-body-emphasis text-white" href="#"><i class="fab fa-twitter fa-2xl"></i></a></li>
                                <li class="ms-3"><a class="link-body-emphasis text-white" href="#"><i class="fab fa-instagram fa-2xl"></i></a></li>
                                <li class="ms-3"><a class="link-body-emphasis text-white" href="#"><i class="fab fa-facebook fa-2xl"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
