<app-header></app-header>

<!-- <nav aria-label="breadcrumb" *ngIf="article && article.category">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/category', article.category?.id]">{{ article.category?.title }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
    </ol>
</nav> -->



<section class="py-5" *ngIf="article">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img [src]="'http://localhost:8080/' + article.image" class="card-img-top" alt="Article Image">
                <!-- <img class="card-img-top mb-5 mb-md-0 rounded" src="https://picsum.photos/1000/1000" alt="Image de l'article" /> -->
            </div>
            <div class="col-md-6">
                <h4 class="card-title">{{ article.brand }}</h4>
                <br>
                <h4 class="card-title">{{ article.title }}</h4>
                <br>
                <p class="card-text">{{ article.description }}</p>
                <span class="card-price">{{ article.price | currency }}</span><br><br>
                <div class="d-flex">
                    <button class="btn btn-secondary" (click)="shareArticle()">Partager</button>
                    <app-add-to-cart class="mx-2" [article]="article"></app-add-to-cart>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
